<script lang="ts">
	import '../css/app.css';
	import TabBar from '../components/TabBar.svelte';
	import Tab from '../components/Tab.svelte';
	import {
		balance,
		totalExpenses,
		totalBadgeCapacity,
		totalWillpower,
		usableWillpower,
		rewards,
		mintedSentz,
		mintedBadge,
selectedLevel
	} from '../stores';
	import Tables from '../components/Tables.svelte';
	import InfoBar from '../components/InfoBar.svelte';
	import Badge from '../components/Badge.svelte';
	import Sentz from '../components/Sentz.svelte';
	import GiAllSeeingEye from 'svelte-icons/gi/GiAllSeeingEye.svelte';
	import GiAnimalSkull from 'svelte-icons/gi/GiAnimalSkull.svelte';
	import GiArmorUpgrade from 'svelte-icons/gi/GiArmorUpgrade.svelte';
	import GiAbacus from 'svelte-icons/gi/GiAbacus.svelte';
	import GiBackwardTime from 'svelte-icons/gi/GiBackwardTime.svelte';
	import Simulate from '../components/Simulate.svelte';
import Popup from "../components/Popup.svelte";
	let selectedTab = 'badge';

	const reset = () => {
		balance.set(300);
		totalExpenses.set(0);
		totalBadgeCapacity.set(0);
		totalWillpower.set(0);
		usableWillpower.set(0);
		selectedLevel.set(1);
		rewards.set(0);
		mintedSentz.set([]);
		mintedBadge.set([]);
	};

	const onSwitchTab = (selected: string) => {
		if (selected !== selectedTab) {
			selectedTab = selected;
		}
	};
</script>

<Popup />
<TabBar>
	<Tab on:click={() => onSwitchTab('badge')} selected={selectedTab === 'badge'}>
		<GiArmorUpgrade />
		<span>badge</span>
	</Tab>
	<Tab on:click={() => onSwitchTab('sentz')} selected={selectedTab === 'sentz'}>
		<GiAnimalSkull />
		<span>sentz</span>
	</Tab>
	<Tab on:click={() => onSwitchTab('simulate')} selected={selectedTab === 'simulate'}>
		<GiAllSeeingEye />
		<span>simulate</span>
	</Tab>
	<Tab on:click={() => onSwitchTab('tables')} selected={selectedTab === 'tables'}>
		<GiAbacus />
		<span>tables</span>
	</Tab>
	<Tab on:click={() => reset()}>
		<GiBackwardTime />
		<span>reset</span>
	</Tab>
</TabBar>
<main>
	{#if selectedTab === 'badge'}
		<Badge />
	{:else if selectedTab === 'sentz'}
		<Sentz />
	{:else if selectedTab === 'simulate'}
		<Simulate />
	{:else if selectedTab === 'tables'}
		<Tables />
	{/if}
</main>

<InfoBar />

<style>
	main {
		flex-grow: 1;
		overflow: hidden;
		display: flex;
		justify-content: center;
	}
</style>
