<script lang="ts">
	import { LEGION_BADGE_COST } from '../constants';
	import { mintedBadge, balance, totalBadgeCapacity } from '../stores';

	export let rarity = 0;
	export let capacity = 0;
	export let badgeId = 0;

	const convertToArray = (value: number) => {
		let output = [];
		for (let i = 0; i < value; i++) {
			output.push('x');
		}
		return output;
	};

	const burn = () => {
		const newBadge = [...$mintedBadge];
		newBadge.splice(badgeId, 1);
		mintedBadge.set([...newBadge]);
		const refund = LEGION_BADGE_COST;
		balance.update((x) => (x += refund));
		totalBadgeCapacity.update((x) => (x -= capacity));
	};

	const rarityColor = (rarity: number): string => {
		switch (rarity) {
			case 1:
				return '#f6f6f6';
			case 2:
				return '#abcaff';
			case 3:
				return '#a63fff';
			case 4:
				return '#ff8330';
			case 5:
				return '#ff4040';
			case 6:
				return '#1eff00';
			case 7:
				return '#ffea00';
		}
	};
</script>

<div class="badge-box">
	<div class="header">
		<div class="rarity-label" style="--rarity: {rarityColor(rarity)}">R{rarity}</div>
		<button on:click={() => burn()}>🔥</button>
	</div>
	<div class="rarity">
		{#each convertToArray(rarity) as x}
			<span class="star">★</span>
		{/each}
	</div>
	<div class="info-box">
		<div class="info">
			<div class="label">Capacity</div>
			<div class="value">{capacity}</div>
		</div>
	</div>
</div>

<style>
	.badge-box {
		position: relative;
		border-radius: 3px;
		width: 140px;
		height: 100px;
		margin: 5px;
		display: flex;
		flex-direction: column;
		padding: 5px;
		box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
			rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
		background-color: #dfdfdf;
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.rarity-label {
		font-size: 0.8em;
		border-radius: 3px;
		width: 2em;
		height: 2em;
		background-color: var(--rarity);
		color: #000000;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
		user-select: none;
	}

	button {
		width: 2em;
		height: 2em;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
		background-color: transparent;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	}

	button:active {
		background-color: #17101b;
	}

	.rarity {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		font-size: 2em;
		margin: auto;
		user-select: none;
		line-height: 1;
	}

	.star {
		color: transparent;
		text-shadow: 0 0 0 #bf01b9;
	}

	.info-box {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	}

	.label {
		font-size: 0.7em;
		display: flex;
		justify-content: center;
	}

	.value {
		font-size: 1em;
		font-weight: bold;
		display: flex;
		justify-content: center;
	}
</style>
