<script lang="ts">
	import { balance, totalExpenses, rewards } from '../stores';

	const addBalance = () => {
		balance.update((x) => (x += 100));
	};
	const subBalance = () => {
		balance.update((x) => (x - 100 < 0 ? 0 : (x -= 100)));
	};
</script>

<footer>
	<div class="info-box">
		<div class="info info-balance">
			<div class="button-container">
				<button on:click={() => subBalance()}>➖</button>
			</div>
			<div class="info-container">
				<span class="value">
					${$balance}
				</span>
				<span class="label">balance</span>
			</div>
			<div class="button-container">
				<button on:click={() => addBalance()}>➕</button>
			</div>
		</div>
		<div class="info">
			<span class="value">${$rewards.toFixed(2)}</span>
			<span class="label">rewards</span>
		</div>
		<div class="info">
			<span class="value">${$totalExpenses}</span>
			<span class="label">expenses</span>
		</div>
	</div>
</footer>

<style>
	footer {
		flex-grow: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #17101b;
		z-index: 1;
	}

	.info-box {
		position: relative;
		width: 800px;
		max-width: 800px;
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: auto;
	}

	.info {
		background-color: rgb(255 255 255 / 10%);
		box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
		margin: 0 10px;
		padding-top: 10px;
		padding-bottom: 5px;
	}

	.info-balance {
		display: flex;
		flex-direction: row;
	}

	.label {
		font-size: 0.8rem;
		color: #807593;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.value {
		color: #ccb5de;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.button-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.info-container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	button {
		width: 2em;
		height: 2em;
		border: none;
		border-radius: 50px;
		background-color: #6c657c;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #3a1f53;
		margin: 5px;
	}
</style>
