<script lang="ts">
	import { popupVisible, popupMessage, popupIcon } from '../stores';
	const onClose = () => {
		popupVisible.set(false);
	};
</script>

{#if $popupVisible}
	<div class="backdrop" on:click={onClose}>
		<div class="popup">
			<span>{$popupIcon}</span>
			<span>{$popupMessage}</span>
		</div>
	</div>
{/if}

<style>
	.backdrop {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 50%);
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		z-index: 10;
		cursor: pointer;
	}

	.popup {
		height: 180px;
		width: 240px;
		background-color: #ffffff;
		border-radius: 3px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
			rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
			rgba(0, 0, 0, 0.09) 0px -3px 5px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 80px;
	}

	span {
		font: inherit;
		font-size: 2em;
	}
</style>
