<script lang="ts">
	import { ELAN_VITAL, SENTZ_COST } from '../constants';
	import { balance, totalExpenses, mintedSentz, totalWillpower } from '../stores';
	import GiTrashCan from 'svelte-icons/gi/GiTrashCan.svelte';
	export let sentzId = 0;
	export let rarity = 0;
	export let willpower = 0;
	export let elanVital = 0;
	let selectedEV = 0;

	const notEnoughBalance = () => {
		alert('Not enough balance!');
	};

	const convertToStars = (value: number) => {
		let output = [];
		for (let i = 0; i < value; i++) {
			output.push('x');
		}
		return output;
	};

	const onElanVitalSelect = (e) => {
		selectedEV = e.currentTarget.selectedIndex;
	};

	const onBuyElanVital = () => {
		const { duration, costPerSentz } = ELAN_VITAL[selectedEV];
		if ($balance < costPerSentz) {
			notEnoughBalance();
			return;
		}
		const updatedSentz = [...$mintedSentz];
		const sentz = updatedSentz[sentzId];

		sentz.elanVital += duration;
		balance.update((x) => (x -= costPerSentz));
		totalExpenses.update((x) => (x += costPerSentz));
		mintedSentz.set([...updatedSentz]);
	};

	const burn = () => {
		const newSentz = [...$mintedSentz];
		newSentz.splice(sentzId, 1);
		mintedSentz.set([...newSentz]);
		const refund = SENTZ_COST * 0.20;
		balance.update((x) => x += refund);
		totalWillpower.update((x) => x -= willpower);
	};

	const rarityColor = (rarity: number): string => {
		switch (rarity) {
			case 1:
				return '#f6f6f6';
			case 2:
				return '#abcaff';
			case 3:
				return '#a63fff';
			case 4:
				return '#ff8330';
			case 5:
				return '#ff4040';
			case 6:
				return '#1eff00';
			case 7:
				return '#ffea00';
		}
	};
</script>

<div class="sentz-box">
	<div class="header">
		<div class="rarity-label" style="--rarity: {rarityColor(rarity)}">R{rarity}</div>
		<button class="burn-button" on:click={() => burn()}>🔥</button>
	</div>
	<div class="rarity">
		{#each convertToStars(rarity) as star}
		<span class="star">★</span>
		{/each}
	</div>
	<div class="info-box">
		<div class="info">
			<div class="label">Will Power</div>
			<div class="value">{willpower}</div>
		</div>
		<div class="info">
			<div class="label">Elan Vital</div>
			<div class="value">{elanVital}</div>
		</div>
	</div>
	<div class="elan-vital">
		<select name="ev" id="ev" on:change={onElanVitalSelect}>
			{#each ELAN_VITAL as { duration, costPerSentz }}
				<option value={costPerSentz}>{duration} days | ${costPerSentz}</option>
			{/each}
		</select>
		<button class="ev-button" on:click={() => onBuyElanVital()}>💸</button>
	</div>
</div>

<style>
	.sentz-box {
		position: relative;
		border-radius: 3px;
		width: 140px;
		height: 170px;
		margin: 5px;
		display: flex;
		flex-direction: column;
		padding: 5px;
		box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
			rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
		background-color: #dfdfdf;
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.rarity-label {
		font-size: 0.8em;
		border-radius: 3px;
		width: 2em;
		height: 2em;
		background-color: var(--rarity);
		color: #000000;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
		user-select: none;
	}

	button {
		width: 2em;
		height: 2em;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
		background-color: transparent;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	}


	.burn-button:active {
		background-color: #17101b;
	}

	.rarity {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		font-size: 2em;
		margin: auto;
		user-select: none;
		line-height: 1;
	}
	.star {
		color: transparent;
		text-shadow: 0 0 0 #bf01b9;
	}

	.info-box {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
		margin-bottom: 5px;
	}

	.label {
		font-size: 0.7em;
		display: flex;
		justify-content: center;
	}

	.value {
		font-size: 1em;
		font-weight: bold;
		display: flex;
		justify-content: center;
	}

	.elan-vital {
		display: flex;
		align-items: center;
	}

	select {
		height: 2em;
		flex-grow: 1;
		margin-right: 5px;
		background: transparent;
		outline: none;
		user-select: none;
		border-radius: 3px;
	}
	/* .sentz-box {
		position: relative;
		border: 1px solid black;
		border-radius: 5px;
		min-width: 160px;
		max-width: 160px;
		min-height: 160px;
		max-height: 120px;
		margin: 5px;
		display: flex;
		flex-direction: column;
		padding: 5px;
	}

	.rarity-label {
		font-size: 0.7em;
		position: absolute;
		top: 5;
		left: 5;
	}

	.rarity {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 1.5em;
		flex-grow: 1;
	} */
</style>
