<script lang="ts">
	import weighted from 'weighted';
	import { SENTZ_RARITIES, SENTZ_WEIGHTS, SENTZ_COST } from '../constants';
	import { balance, totalExpenses, totalWillpower, mintedSentz } from '../stores';
	import SentzBox from './SentzBox.svelte';

	const notEnoughBalance = () => {
		alert('Not enough balance!');
	};

	const getRndNumber = (min: number, max: number) => {
		return Math.floor(Math.random() * (max - min + 1)) + min;
	};

	const onMintSentz = () => {
		if ($balance < SENTZ_COST) {
			notEnoughBalance();
			return;
		}
		const rarity = parseInt(weighted.select(SENTZ_WEIGHTS));
		const sentz = SENTZ_RARITIES.filter((s) => s.rarity === rarity)[0];
		const willpower = getRndNumber(sentz.willpower.min, sentz.willpower.max);
		mintedSentz.update((x) => [
			...x,
			{
				rarity: sentz.rarity,
				willpower: willpower,
				elanVital: 0
			}
		]);
		totalWillpower.update((x) => (x += willpower));
		balance.update((x) => (x -= SENTZ_COST));
		totalExpenses.update((x) => (x += SENTZ_COST));
	};
</script>

<section>
	<div class="top-box">
		<div class="info-box">
			<span class="value">{$mintedSentz.length}</span>
			<div class="label">sentz</div>
		</div>
		<div class="button-box">
			<button on:click={onMintSentz}>Mint Sentz</button>
		</div>
		<div class="info-box">
			<span class="value">{$totalWillpower}</span>
			<div class="label">total willpower</div>
		</div>
	</div>
	<div class="sentz-list">
		{#each $mintedSentz as { rarity, willpower, elanVital }, i}
			<SentzBox {rarity} {willpower} {elanVital} sentzId={i} />
		{/each}
	</div>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		width: 800px;
		max-width: 800px;
	}

	.top-box {
		height: 60px;
		min-height: 60px;
		display: grid;
		grid-template-columns: 30% 40% 30%;
		justify-items: center;
		align-items: center;
		box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	}

	.info-box {
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		background-color: #7B758A;
		box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
		width: 6rem;
	}

	.button-box {
		width: 6rem;
	}

	.sentz-list {
		display: flex;
		flex-wrap: wrap;
		padding: 5px;
		overflow-y: auto;
	}

	.label {
		font-size: 0.8rem;
		color: #18101b;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.value {
		font-size: 1.25rem;
		color: #18101b;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
	}

	button {
		height: 50px;
		border: none;
		user-select: none;
		outline: none;
		border-radius: 3px;
		padding: 2px 10px 0 10px;
		background-color: #ffa526;
		font: inherit;
		font-weight: 600;
		cursor: pointer;
		box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
			rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	}

	button:active {
		border-radius: 3px;
		background-color: #aa752a;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	}
</style>
