<script lang="ts">
	import { onMount } from 'svelte';
	import weighted from 'weighted';
	import xorshift from 'xorshift';
	import {
		REWARDS_WILLPOWER,
		REWARDS_WINRATE,
		REWARDS_WP_MAX_WINRATE,
		REWARDS_MAX_WINRATE,
		REWARDS_AMOUNT
	} from '../constants';
	import { popupVisible, popupMessage, balance, totalExpenses, totalWillpower, totalBadgeCapacity, mintedSentz, popupIcon, rewards, selectedLevel, usableWillpower } from '../stores';

	import GiAbstract001 from 'svelte-icons/gi/GiAbstract001.svelte';
	import GiAbstract002 from 'svelte-icons/gi/GiAbstract002.svelte';
	import GiAbstract003 from 'svelte-icons/gi/GiAbstract003.svelte';
	import GiAbstract004 from 'svelte-icons/gi/GiAbstract004.svelte';
	import GiAbstract005 from 'svelte-icons/gi/GiAbstract005.svelte';
	import GiAbstract006 from 'svelte-icons/gi/GiAbstract006.svelte';
	import GiAbstract007 from 'svelte-icons/gi/GiAbstract007.svelte';
	import GiAbstract008 from 'svelte-icons/gi/GiAbstract008.svelte';
	import GiAbstract009 from 'svelte-icons/gi/GiAbstract009.svelte';
	import GiAbstract010 from 'svelte-icons/gi/GiAbstract010.svelte';
	import GiAbstract011 from 'svelte-icons/gi/GiAbstract011.svelte';
	import GiAbstract012 from 'svelte-icons/gi/GiAbstract012.svelte';
	import GiAbstract013 from 'svelte-icons/gi/GiAbstract013.svelte';
	import GiAbstract014 from 'svelte-icons/gi/GiAbstract014.svelte';
	import GiAbstract015 from 'svelte-icons/gi/GiAbstract015.svelte';
	import GiAbstract016 from 'svelte-icons/gi/GiAbstract016.svelte';
	import GiAbstract017 from 'svelte-icons/gi/GiAbstract017.svelte';
	import GiAbstract018 from 'svelte-icons/gi/GiAbstract018.svelte';
	import GiAbstract019 from 'svelte-icons/gi/GiAbstract019.svelte';
	import GiAbstract020 from 'svelte-icons/gi/GiAbstract020.svelte';
	import GiAbstract021 from 'svelte-icons/gi/GiAbstract021.svelte';
	import GiAbstract022 from 'svelte-icons/gi/GiAbstract022.svelte';
	import GiAbstract023 from 'svelte-icons/gi/GiAbstract023.svelte';
	import GiAbstract024 from 'svelte-icons/gi/GiAbstract024.svelte';
	import GiAbstract025 from 'svelte-icons/gi/GiAbstract025.svelte';
	import GiAbstract026 from 'svelte-icons/gi/GiAbstract026.svelte';
	import GiAbstract027 from 'svelte-icons/gi/GiAbstract027.svelte';
	import GiAbstract028 from 'svelte-icons/gi/GiAbstract028.svelte';
	import GiAbstract029 from 'svelte-icons/gi/GiAbstract029.svelte';
	import GiAbstract030 from 'svelte-icons/gi/GiAbstract030.svelte';
	import IoIosArrowForward from 'svelte-icons/io/IoIosArrowForward.svelte';
	import IoIosArrowBack from 'svelte-icons/io/IoIosArrowBack.svelte';

	let maxLevel = REWARDS_WILLPOWER.length;
	let minimumWillpower = REWARDS_WILLPOWER[0];
	let winrate = REWARDS_WINRATE[0];
	let wpMaxWinrate = REWARDS_WP_MAX_WINRATE[0];
	let possibleRewards = REWARDS_AMOUNT[0];

	$: disableFight = $usableWillpower < minimumWillpower;

	onMount(() => {
		checkUsableWillpower();
		changeLevel($selectedLevel);
	});

	const checkUsableWillpower = () => {
		let totalWP = 0;
		let capacity = $totalBadgeCapacity;
		for (let i = 0; i < $mintedSentz.length; i++) {
			const { elanVital, willpower } = $mintedSentz[i];
			if (elanVital > 0 && capacity > 0) {
				totalWP += willpower;
				capacity--;
			}
		}
		$usableWillpower = totalWP;
		disableFight = $usableWillpower < minimumWillpower;
	};

	const deductElanVital = () => {
		let capacity = $totalBadgeCapacity;
		const newSentz = [...$mintedSentz];
		for (let i = 0; i < newSentz.length; i++) {
			const { elanVital, willpower } = newSentz[i];
			if (elanVital > 0 && capacity > 0) {
				newSentz[i].elanVital -= 1;
				capacity--;
			}
		}
		mintedSentz.set(newSentz);
	};
	const onSelect = (e) => {
		selectedLevel.set(e.target.selectedIndex + 1);
		changeLevel($selectedLevel);
	};

	const changeLevel = (level: number) => {
		minimumWillpower = REWARDS_WILLPOWER[level - 1];
		winrate = REWARDS_WINRATE[level - 1];
		wpMaxWinrate = REWARDS_WP_MAX_WINRATE[level - 1];
		possibleRewards = REWARDS_AMOUNT[level - 1];
		disableFight = $usableWillpower < minimumWillpower;
		if ($usableWillpower >= wpMaxWinrate) {
			winrate = REWARDS_MAX_WINRATE;
		}
	};

	const onFight = () => {
		const result = parseInt(weighted.select(winrate, xorshift.random));
		console.log(winrate, result);
		if (result === 0) {
			popupIcon.set("❌");
			popupMessage.set("You LOST!");
			popupVisible.set(true);
		} else if (result === 1) {
			popupIcon.set("💲💲💲");
			popupMessage.set(`WON $${possibleRewards}!`);
			popupVisible.set(true);
			rewards.update((x) => x += possibleRewards);
		}
		deductElanVital();
		checkUsableWillpower();
	};

	const prev = () => {
		selectedLevel.set(Math.max(1, $selectedLevel - 1));
		changeLevel($selectedLevel);
	};

	const next = () => {
		selectedLevel.set(Math.min(maxLevel, $selectedLevel + 1));
		changeLevel($selectedLevel);
	};
</script>

<section>
	<div class="top-box">
		<div class="select-box">
			<select on:change={onSelect} value={$selectedLevel}>
				{#each REWARDS_WILLPOWER as wp, i}
					<option value={i + 1}>LEVEL {i + 1}</option>
				{/each}
			</select>
		</div>
		<div class="button-box">
			<button disabled={disableFight} on:click={onFight}>Fight</button>
		</div>
		<div class="info-box">
			<span class="value">{$usableWillpower}</span>
			<div class="label">active willpower</div>
		</div>
	</div>
	<div class="umbra-list">
		<div class="arrow-box">
			<button class="arrow-button left" disabled={$selectedLevel === 1} on:click={prev}>
				<IoIosArrowBack />
			</button>
		</div>
		<div class="umbra-box" style="--background: {disableFight ? "#6c657d" : "#dfdfdf"}">
			<div class="umbra-info-box">
				<div class="info">
					<span class="label">winrate</span>
					<span class="value">{Math.round(winrate[1] * 100)}%</span>
				</div>
				<div class="info">
					<span class="label">min. WP</span>
					<span class="value">{minimumWillpower}</span>
				</div>
			</div>
			<div>
				{#if $selectedLevel === 1}
					<GiAbstract001 />
				{:else if $selectedLevel === 2}
					<GiAbstract002 />
				{:else if $selectedLevel === 3}
					<GiAbstract003 />
				{:else if $selectedLevel === 4}
					<GiAbstract004 />
				{:else if $selectedLevel === 5}
					<GiAbstract005 />
				{:else if $selectedLevel === 6}
					<GiAbstract006 />
				{:else if $selectedLevel === 7}
					<GiAbstract007 />
				{:else if $selectedLevel === 8}
					<GiAbstract008 />
				{:else if $selectedLevel === 9}
					<GiAbstract009 />
				{:else if $selectedLevel === 10}
					<GiAbstract010 />
				{:else if $selectedLevel === 11}
					<GiAbstract011 />
				{:else if $selectedLevel === 12}
					<GiAbstract012 />
				{:else if $selectedLevel === 13}
					<GiAbstract013 />
				{:else if $selectedLevel === 14}
					<GiAbstract014 />
				{:else if $selectedLevel === 15}
					<GiAbstract015 />
				{:else if $selectedLevel === 16}
					<GiAbstract016 />
				{:else if $selectedLevel === 17}
					<GiAbstract017 />
				{:else if $selectedLevel === 18}
					<GiAbstract018 />
				{:else if $selectedLevel === 19}
					<GiAbstract019 />
				{:else if $selectedLevel === 20}
					<GiAbstract020 />
				{:else if $selectedLevel === 21}
					<GiAbstract021 />
				{:else if $selectedLevel === 22}
					<GiAbstract022 />
				{:else if $selectedLevel === 23}
					<GiAbstract023 />
				{:else if $selectedLevel === 24}
					<GiAbstract024 />
				{:else if $selectedLevel === 25}
					<GiAbstract025 />
				{:else if $selectedLevel === 26}
					<GiAbstract026 />
				{:else if $selectedLevel === 27}
					<GiAbstract027 />
				{:else if $selectedLevel === 28}
					<GiAbstract028 />
				{:else if $selectedLevel === 29}
					<GiAbstract029 />
				{:else if $selectedLevel === 30}
					<GiAbstract030 />
				{/if}
			</div>
			<div class="umbra-info-box">
				<div class="info">
					<span class="label">level</span>
					<span class="value">{$selectedLevel}</span>
				</div>
				<div class="info">
					<span class="label">rewards</span>
					<span class="value">${possibleRewards}</span>
				</div>
			</div>
		</div>
		<div class="arrow-box">
			<button class="arrow-button right" disabled={$selectedLevel === 30} on:click={next}>
				<IoIosArrowForward />
			</button>
		</div>
	</div>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		width: 800px;
		max-width: 800px;
	}

	.top-box {
		height: 60px;
		min-height: 60px;
		display: grid;
		grid-template-columns: 30% 40% 30%;
		justify-items: center;
		align-items: center;
		box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	}

	.info-box {
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		background-color: #7B758A;
		box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
		width: 6rem;
	}

	.select-box {
		width: 6rem;
		border-radius: 3px;
		box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
			rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
		background-color: #dfdfdf;
	}

	select {
		height: 42px;
		width: 6rem;
		background: transparent;
		outline: none;
		user-select: none;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		font: inherit;
		font-weight: 400;
		font-size: 0.9em;
		padding: 5px;
	}

	.button-box {
		width: 6rem;
	}

	.label {
		font-size: 0.8rem;
		color: #18101b;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.value {
		font-size: 1.25rem;
		color: #18101b;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
	}

	button {
		height: 50px;
		width: 6rem;
		border: none;
		border-radius: 3px;
		padding: 2px 10px 0 10px;
		background-color: #ffa526;
		font: inherit;
		font-weight: 600;
		cursor: pointer;
		box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
			rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	}

	button:disabled {
		cursor: not-allowed;
		background-color: #c18a4a;
	}

	.arrow-box {
		flex-grow: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.arrow-button {
		background-color: #3a1f53;
		color: #ccb5de;
		width: 2.5rem;
	}

	.arrow-button:disabled {
		cursor: not-allowed;
		background-color: #6c657d;
	}

	.left {
		justify-self: end;
	}

	.right {
		justify-self: start;
	}

	.umbra-list {
		margin-top: 10px;
		padding: 5px;
		display: grid;
		grid-template-columns: 20% 60% 20%;
		overflow-y: auto;
	}

	.umbra-box {
		margin: 10px;
		border-radius: 3px;
		display: grid;
		grid-template-rows: 20% 60% 20%;
		box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
			rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
		background-color: var(--background);
	}

	.umbra-info-box {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
</style>
