<script>
	export let selected = false;
</script>

<button
	class="tabs"
	on:click
	style="--background-color: {selected ? '#3A1F53' : 'transparent'}; --color: {selected
		? '#CCB5DE'
		: '#807593'}"
>
	<slot />
</button>

<style>
	.tabs {
		border: none;
		padding: 5px;
		height: 100%;
		flex-grow: 1;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
		background-color: var(--background-color);
		color: var(--color);
		font-family: inherit;
		font-size: 0.8em;
		user-select: none;
		outline: none;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		cursor: pointer;
	}
	.tabs:hover {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		color: #ccb5de;
	}
	button * {
		width: 32px !important;
		height: 32px !important;
	}
</style>
