<script lang="ts">
</script>

<header>
	<div>
		<slot />
	</div>
</header>

<style>
	header {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #17101b;
		z-index: 1;
		height: 48px;
		box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
	}

	div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-grow: 0;
		width: 800px;
		max-width: 800px;
		height: 100%;
	}
</style>
