<script lang="ts">
	import {
		SENTZ_RARITIES,
		SENTZ_WEIGHTS,
		LEGION_BADGE,
		LEGION_BADGE_WEIGHTS,
		ELAN_VITAL,
		SENTZ_COST,
		LEGION_BADGE_COST,
REWARDS_WILLPOWER,
REWARDS_AMOUNT,
REWARDS_WINRATE,
REWARDS_WP_MAX_WINRATE
	} from '../constants';
</script>
<div class="tables">
	<table>
		<thead>
			<tr>
				<th colspan="3">Sentz Rarities = ${SENTZ_COST}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Rarity</td>
				<td>Chance</td>
				<td>Will Power</td>
			</tr>
			{#each SENTZ_RARITIES as { rarity, willpower }}
				<tr>
					<td>{rarity}</td>
					<td>{SENTZ_WEIGHTS[rarity] * 100}%</td>
					<td>{willpower.min}-{willpower.max}</td>
				</tr>
			{/each}
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th colspan="3">Legion Badge = ${LEGION_BADGE_COST}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Rarity</td>
				<td>Chance</td>
				<td>Capacity</td>
			</tr>
			{#each LEGION_BADGE as { rarity, capacity }}
				<tr>
					<td>{rarity}</td>
					<td>{LEGION_BADGE_WEIGHTS[rarity] * 100}%</td>
					<td>{capacity}</td>
				</tr>
			{/each}
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th colspan="2">Elan Vital</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Duration (days)</td>
				<td>Cost per 1 Sentz</td>
			</tr>
			{#each ELAN_VITAL as { duration, costPerSentz }}
				<tr>
					<td>{duration}</td>
					<td>${costPerSentz}</td>
				</tr>
			{/each}
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th colspan="5">Rewards</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Level</td>
				<td>Min. WP</td>
				<td>Amount</td>
				<td>Winrate</td>
				<td>Max Winrate WP</td>
			</tr>
			{#each REWARDS_WILLPOWER as wp, i}
				<tr>
					<td>{i + 1}</td>
					<td>{wp}</td>
					<td>${REWARDS_AMOUNT[i]}</td>
					<td>{Math.round(REWARDS_WINRATE[i][1] * 100)}%</td>
					<td>{REWARDS_WP_MAX_WINRATE[i]}</td>
				</tr>
			{/each}
		</tbody>
	</table>
</div>

<style>
	.tables {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		overflow-y: auto;
	}

	table,
	td {
		border: 1px solid #333;
	}
</style>
