@import url('overpass.css');

html,
body {
	margin: 0;
	font-family: 'Overpass', Arial, Helvetica, sans-serif;
	height: 100%;
	min-width: 300px;
}

#svelte {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #6c657c;
}
